:root {
  /* Colors */
  --bg-primary-color: #e5e5e5;
  --bg-secondary-color: #f1f1f1;
  --text-primary-color: #000000;
  --text-secondary-color: #c4c4c4;
  --card-primary-color: #77b6d5;
  --card-secondary-color: #0f5545;
  --white-color: #fff;
  /* Font and Typography */
  --font: "Poppins", sans-serif;
  --mfont-max: 2.5rem;
  --mfont-midi: 1.75rem;
  --mfont-mini: 1.25rem;
  --mfont-reg: 0.875rem;
  --mfont-tiny: 0.75rem;
  --font-bold: 700;
  --font-semi: 500;
  --font-norm: 400;
  --font-light: 300;
}

@media screen and (min-width: 768px) {
  :root {
    --font-max: 3.75rem;
    --font-midi: 3rem;
    --font-mini: 1.5rem;
    --font-reg: 1.125rem;
    --font-tiny: 1rem;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer_container {
  display: grid;
  grid-template-columns: 30% 30% 25% 15%;
  column-gap: 20px;
  justify-content: center;
  padding: 40px 16px;
}

@media screen and (max-width: 768px) {
  .footer_container {
    grid-template-columns: 100%;
  }
}

.footer_container .section_title {
  font-size: 1rem !important;
}
